html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    min-width: 320px;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 19px;
    font-weight: 400;
    color: #000;
    background-color: #fff;
    overflow-x: hidden;
}

h2 {
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

/* .container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
    z-index: 1;
    position: relative;
} */
