// Colors
$dark-white: #f7f4f1;
$bg-darkgrey: #292929;

$body-min-width: 320px;

// Typography
$font-family-base: 'Arial', sans-serif;
$font-size-base: 18px;
$line-height-base: 27px;

// Media breakpoints
$desktop-width: 1199.98px;
$tablet-width: 767.98px;
$mobile-width: 575.98px;
